.git
.vscode
.devcontainer
docs
node_modules
dist
out-tsc
/tmp
bazel-out
*.log
*.cache
*.tmp
.nx/cache
.nx/workspace-data
**/nest-swagger-metadata.ts
coverage
Thumbs.db
*.tsbuildinfo
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md